/* Hero Section */
/* .hero{
  box-shadow: 0 0 8px 8px #0f172a inset
} */

.bg-fade {
  position: relative;
  z-index: 1;
  box-shadow: 0 0 8px 8px #0f172a inset
}

.bg-fade::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to left, #0f172a 35%, rgba(15, 23, 42, 0) 100%);
  z-index: -1;
  opacity: 70%;
}
